h1, h2,
.card-header {
  font-family: "Permanent Marker", cursive; }

.nav-item:hover {
  border-bottom: black 1px solid; }

.nav-link,
.prop-info p {
  font-family: "Playfair Display", serif; }

.fa-mountain {
  font-size: 4rem; }

.prop-name {
  font-family: "Permanent Marker", cursive;
  padding-left: 15px;
  font-size: 2.5rem; }

.container {
  max-width: 1180px; }

.form-header {
  font-size: 2.5rem; }

.card-header {
  font-size: 2.5rem; }

.card-btns {
  border-color: black;
  color: black; }

.footer-text {
  font-size: .8rem; }

#amenities .pet-policy > ul {
  list-style-type: none; }

@media (min-width: 768px) {
  nav {
    margin-right: 0px; }
  .card-header {
    font-size: 2rem; }
  .fp-card {
    margin-top: 24px; }
  .footer-text {
    font-size: 1rem; } }

@media (min-width: 960px) {
  nav {
    margin-right: 33px; }
  .nav-link {
    font-size: 1.1rem; } }
