h1 {
  font-family: "Permanent Marker", cursive; }

.prop-info {
  font-family: "Playfair Display", serif; }

.fa-mountain {
  font-size: 4rem; }

.prop-name {
  font-family: "Permanent Marker", cursive;
  padding-left: 15px;
  font-size: 2.5rem; }

.container {
  max-width: 1180px; }

@media (min-width: 768px) {
  nav {
    margin-right: 0px; } }

@media (min-width: 960px) {
  nav {
    margin-right: 33px; } }
