$headline-font-family: 'Permanent Marker', cursive; 
$body-font-family: 'Playfair Display', serif;
$logo-font-size: 2.5rem;

h1, h2{
    font-family: $headline-font-family;
}


.nav-link,
.prop-info p{
    font-family: $body-font-family;
}

.fa-mountain{
    font-size: $logo-font-size + 1.5rem;
}

.prop-name{
    font-family: $headline-font-family;
    padding-left: 15px;
    font-size: $logo-font-size;
}

.container {
    max-width: 1180px;
}

.form-header{
    font-size: $logo-font-size;
}


// Medium Viewport
    
@media (min-width: 768px){
    nav{
        margin-right: 0px;
    }
}

//Large Viewport

@media (min-width: 960px){
    nav{
        margin-right: 33px;
    }
    .nav-link{
        font-size: 1.1rem;
    }
}
