$headline-font-family: 'Permanent Marker', cursive; 
$body-font-family: 'Playfair Display', serif;
$logo-font-size: 2.5rem;

h1, h2,
.card-header{
    font-family: $headline-font-family;
}

.nav-item:hover {
    border-bottom: black 1px solid;
}

.nav-link,
.prop-info p{
    font-family: $body-font-family;
}

.fa-mountain{
    font-size: $logo-font-size + 1.5rem;
}

.prop-name{
    font-family: $headline-font-family;
    padding-left: 15px;
    font-size: $logo-font-size;
}

.container {
    max-width: 1180px;
}

.form-header{
    font-size: $logo-font-size;
}

.card-header{
    font-size: 2.5rem;
}

.card-btns{
    border-color: black;
    color: black;
}

.footer-text{
    font-size: .8rem;
}

//Amenities Page Styles

#amenities{
    .pet-policy > ul{
        list-style-type: none;
    }
}

// Medium Viewport
    
@media (min-width: 768px){
    nav{
        margin-right: 0px;
    }
    .card-header{
        font-size: 2rem;
    }
    .fp-card{
        margin-top: 24px;
    }
    .footer-text{
        font-size: 1rem;
    }
}

//Large Viewport

@media (min-width: 960px){
    nav{
        margin-right: 33px;
    }
    .nav-link{
        font-size: 1.1rem;
    }
}
